@import "../../../styles/variables";

.features {
  &__content {
    font-size: 39px;
    text-align: center;
    max-width: 456px;
    margin: 180px auto 180px auto;
  }

  &__box {
    background: $darker-purple;
    padding-bottom: 35px;
    position: relative;
  }

  &__header {
    text-align: center;
    position: relative;
    border-bottom: 1.5px solid #e7e9f2;
    gap: 93px;
    padding: 82.39px 0 34px 0;
    margin-right: 89px;
    margin-left: 54px;
    &__feature {
      z-index: 3;
      position: relative;

      &__image {
        padding-bottom: 24.57px;
      }
    }
  }
}

.feature {
  padding: 108px 89px 130px 54px;
  gap: 50px;
  border-radius: 26px;

  &__content {
    font-size: 39px;
    max-width: 660px;
    margin-bottom: 30px;
  }

  &__list-item {
    margin-bottom: 16px;

    &__content {
      margin-left: 18px;
    }
  }

  &__btn-container {
    margin-top: 41px;
  }
}

.active {
  &:after {
    text-align: center;
    position: absolute;
    bottom: -40px;
    content: "";
    display: block;
    z-index: 3;
    background-color: white;
    width: 100%;
    height: 2.5px;
  }
}
